# Ingestion Pipeline
camelot-py[cv]
pdfplumber
pandas
tqdm
requests
opencv-python-headless
ghostscript

# API Tier
fastapi
uvicorn
pydantic
python-dotenv
apscheduler
psycopg2-binary

# ML / AI
prophet
scikit-learn
sentence-transformers
groq

# LangChain / LangGraph
langchain-core
langchain-groq
langgraph

# Visualization/Data
jinja2
openpyxl
